<div class="container p-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h4 class="mb-3">Emails List</h4>

            <div class="card p-3">
                <p class="m-2"><input type="checkbox" class="mr-2" (click)="selectall()">Select All</p>
                <p *ngFor="let e of emailsList"><input type="checkbox" class="m-2"value="{{e.id}}" (change)="selected($event,e)" [checked]="allselect">{{e.mailId}}</p>
            </div>
            <button class="btn btn-primary m-2 float-right" (click)="saveEmails()">Save Emails</button>
        </div>
        <div class="col-md-6 col-sm-12">
            <h4 class="mb-3">Selected Emails</h4>
            <div class="card p-3">
                <div class="row" *ngFor="let s of selectedEmialsList">
                    <p>{{s.mailId}}</p>
                    <p class="ml-auto cross">&times;</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-4">
            <p>Select the Company name</p>
            <select class="form-control" (change)="getCompanyCodes($event)">
                <option hidden disabled selected>--select the company name--</option>
                <option *ngFor="let name of companyNameList" value="{{name.companyId}}">{{name.companyName}}</option>
            </select>

        </div>
        <div class="col-4">
            <p>Select the Company Code</p>
            <select class="form-control">
                <option hidden disabled selected>--select the company code--</option>
                <option *ngFor="let code of companyCodesList" value="{{code.codeId}}">{{code.codeName}}</option>
            </select>
            
        </div>
    </div>
</div>


