<div class="card mx-3 my-5 p-3">
    <h4 class="text-center mb-5">Details Freeze</h4>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="card p-2">
                <h5>Data Of the Person</h5>
                <form [formGroup]="detailsForm">
                    <label>Name</label>
                    <input type="text" class="form-control" formControlName="name">
                    <div *ngIf="detailsForm.controls.name.errors && detailsForm.controls.name.touched">
                        <p class="text-danger" *ngIf="detailsForm.controls.name.errors.required">Name is requried</p>
                    </div>
                    <label class="d-block">Gender</label>
                    <div>
                        <input type="radio" name="gender" value="male" formControlName="gender">Male
                        <input type="radio" name="gender" value="female" formControlName="gender">Female
                    </div>
                    <!-- <input type="time" formControlName="freezeTime" class="form-control" step="1"> -->
                    <input formControlName="freezeTime" class="form-control">
                    <button class="btn btn-skin btn-gray-theme" [disabled]="detailsForm.invalid"
                        (click)="savedData()">Save</button>
                </form>
            </div>
        </div>
        <div class="col-md-9 col-sm-12 p-2">
            <div class="searchbox">
                <input class="form-control" placeholder="search by name" [(ngModel)]="searchItem"
                    (change)="search($event.target.value)">
                <button class="btn btn-gray-theme btn-position"><i class="fa fa-search" aria-hidden="true"
                        (click)="search(searchItem)"></i></button>
            </div>
            <p>{{timeLeft}}</p>
            <div class="row">
                <div class="card p-2 col-sm-3 m-2" *ngFor="let data of cardDetails | search:searchItem"
                    [class.freeze]="freezetask">
                    <p>{{data.name}}</p>
                    <p>Freeze Time-{{data.freezeTime|timer}}</p>
                </div>
            </div>
        </div>

        <input type="text" class="form-control datetimepicker-input" id="datetimepicker3" data-toggle="datetimepicker"
            data-target="#datetimepicker3" />

    </div>
</div>
